/* @import url("https://fonts.googleapis.com/css?family=Lacquer&display=swap"); */
/* @import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap"); */
/* @import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap"); */
/* @import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap"); */
/* @import url("https://fonts.googleapis.com/css?family=Rock+Salt&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Annie Use Your Telescope", cursive;
}

body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  --length: 1;
  width: calc((4 * var(--length)) * 1.3vw);
  font-size: 4vw;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.rotateElment {
  animation: rotateElement 1s linear 1 forwards;
  transform-style: preserve-3d;
}

.animation {
  animation: showText 1s cubic-bezier(0.02, 0.73, 1, 0.81) 1 forwards;
  transform-style: preserve-3d;
}

span {
  display: inline-block;
  transform-origin: center;
  --delay: 1;
}

.rotateAndColor {
  animation: rotateElement 1s linear 1 forwards,
    changeColor 1s calc(var(--delay) * 1s) linear 1 forwards;
}

@keyframes rotateElement {
  100% {
    transform: rotateY(-180deg);
    text-transform: lowercase;
  }
}

@keyframes showText {
  0% {
    transform: translateX(100vw) scaleX(-1);
  }

  75% {
    transform: translateX(0) scaleX(-1);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes changeColor {
  100% {
    color: red;
  }
}
